@tailwind base;
@tailwind components;
@tailwind utilities;

.slideFromTop {
    animation : slideTop 3s cubic-bezier(0.4, 0, 0.6, 1) 1;
}

.slideFromRight {
    animation : slideRight 3s cubic-bezier(0.4, 0, 0.6, 1) 1;
}


@keyframes slideTop{
    0%{
        transform: translateY(-200%);
        /* opacity:0.5; */
    }
    100%{
       transform: translateY(0);
       /* opacity:1; */
    }
}


@keyframes slideRight{
    0%{
        transform: translateX(120%);
        /* opacity:0.5; */
    }
    100%{
       transform: translateX(0);
       /* opacity:1; */
    }
}

html {
    scroll-behavior: smooth;
  }

  .carousel .control-dots .dot{
    color:purple;
    background-color: purple;
    padding:2px;
}



